<?xml version="1.0"?>
<config>
    <modules>
        <Demac_CmsBlock>
            <version>0.1.0</version>
        </Demac_CmsBlock>
    </modules>
    <global>
        <models>
            <demac_cmsblock>
                <class>Demac_CmsBlock_Model</class>
            </demac_cmsblock>
        </models>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <demac_cmsblock>
                        <class>Demac_CmsBlock_Model_Observer</class>
                        <method>cmsBlockBlockToHtmlAfter</method>
                    </demac_cmsblock>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>